* {
    margin: 0;
    padding: 0;
}

div {
    width: 150px;
    height: 150px;
    background: blue;
    /* animation-name: moving;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animatioon-timing-function: ease-in-out;
    animation-direction: alternate; */
    animation: moving 3s 4s both infinite ease-in-out alternate;
}

@keyframes moving {
    0% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translate(1000px, 500px);
    }
}